src/main/mule/stream-example.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:file="http://www.mulesoft.org/schema/mule/file"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/file http://www.mulesoft.org/schema/mule/file/current/mule-file.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="b962695c-ab5d-4cc1-8f0c-9ed6a97f9cef" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<file:config name="File_Config_Pending_Folder" doc:name="File Config" doc:id="20a9d156-d9bc-4504-99f9-dfd3cb0a3899" >
		<file:connection workingDir="${path.read}" />
	</file:config>
	<file:config name="File_Config_Done_Folder" doc:name="File Config" doc:id="60c75548-3d2c-4cf8-b472-715d8dff5b0f" >
		<file:connection workingDir="${path.write}" />
	</file:config>
	<configuration-properties doc:name="Configuration properties" doc:id="b1a7a70c-ae81-46c5-9197-a0acbabf0e5b" file="config.properties" />
	<flow name="transfer-large-file-streaming" doc:id="a8d638dc-d791-491c-8a3f-91fc62c63d44" >
		<http:listener doc:name="GET /stream" doc:id="4ad513f1-2847-4ce3-97f5-75a5a77e707b" config-ref="HTTP_Listener_config" path="/stream"/>
		<logger level="INFO" doc:name="Log start streaming" doc:id="ce07440f-67c0-4eed-b62f-17da92803f89" message='#["Starts the stream"]'/>
		<file:read doc:name="Open Stream" doc:id="e98c3d71-52f7-4a4f-a453-4dcbb3a33732" config-ref="File_Config_Pending_Folder" path="data.csv"/>
		<file:write doc:name="Write Stream to File System" doc:id="a4d731aa-dc9a-49a9-9850-82b2710da495" config-ref="File_Config_Done_Folder" path="streamed.csv" mode="APPEND"/>
		<ee:transform doc:name="Produce HTTP Response" doc:id="5fa4ea21-2ff3-4481-9084-3956593e53ed" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"data" : "the transfer finished"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logs stream proocessed" doc:id="d3ffbe21-491f-4d4e-8459-efaf5390f355" message='#["stream processed"]'/>
	</flow>
</mule>
